<nav class="navbar navbar-fixed">

       <nav>
        <div class="nav-wrapper #6200ea deep-purple accent-4">

          <a ui-sref="home" class="brand-logo"><fullstack-logo></fullstack-logo>Radical Reads</a>
          <a href="home" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a ui-sref="home">Home</a></li>
            <li><a ng-click="createNew()" ui-sref="create">Create</a></li>
            <li><a ng-if="isLoggedIn()" ui-sref="yourStories">Your Stories</a></li>
            <li><a ui-sref="browseStories">Browse Stories</a></li>
            <li><img ng-if="isLoggedIn()" id="logged-pic" src="{{user.picture}}"></img></li>
            <li><a ng-if="isLoggedIn()" ng-click="logout()">Logout</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a ui-sref="home">Home</a></li>
            <li><a ng-click="createNew()" ui-sref="create">Create</a></li>
            <li><a ng-if="isLoggedIn()" ui-sref="yourStories">Your Stories</a></li>
            <li><a ui-sref="browseStories">Browse Stories</a></li>
            <li><img ng-if="isLoggedIn()" id="logged-pic" src="{{user.picture}}"></img></li>
            <li><a ng-if="isLoggedIn()" ng-click="logout()">Logout</a></li>
          </ul>
        </div>
      </nav>
      

</nav>