* {
  box-sizing: border-box;
}

body {
  background: #0091ea;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}
video {

	width: 100%;
}

#vid-container {
	background-color: black;
	margin-top: -10%;
	overflow: hidden;
	height: 600px;
}

#greeting {
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
	z-index: 3;
	margin-top: 5%;

		background-color: rgba(250, 250, 250, 0);
		border-style: none;
	
}



