* {
  box-sizing: border-box;
}

body {
  background: url(background.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}

fullstack-logo {
	img {
		 width: 50px;
		 margin-right: 5px;
	}
   
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.navbar {
	a {
		padding-left: 10px;
	}
	
	
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}
video {

	width: 100%;

}

.mini {
	span {
		font-size: 12px !important;
	}
	a {
		font-size: 10px !important;
	}
	img {
		height: 100px;
		width: auto  !important;
		max-width: 300px;
		margin: auto !important;
		overflow: hidden;
	}
}
.book {
	
	height: 300px;
	width: auto  !important;
	max-width: 300px;
	margin: auto !important;
	overflow: hidden;
}

#create-page {

	margin-top: -50px;
	h3 {
		color: #b388ff;
		margin-top: 0px;
	}
	input {
		margin-top: 10%
	}
	a {
		margin-bottom: 5%;
	}
	img {
		width: 200px;
		margin: auto;
	}
	slick {
		div {
			height: 200px;
			overflow: hidden;
			img {
				height: 200px;
				width: auto;
			}
		}
	}
	.card-image {
		overflow: hidden;
	}
}
.genre {
	background-color: black;
	height: 100px;
	margin: 5%;
	color: rgba(0, 0, 0, 0);
	font-size: 20px;
	text-align: center;
	border-radius: 100%;
	overflow: hidden;

}
.genre:hover {
	color: rgba(0, 0, 0, 1);
	background-image: url(bullseye.png) !important;

}
#single-story {
	.row {
		margin-top: -4%;
	}
	.read {
		height: 520px;
		.play {
			color: #6200ea;
			margin-left: 40%;
			margin-top: 50%;
			position: absolute;
			z-index: 10;
			opacity: 0;
		}
	}
	.read:hover {
		span {
			opacity: 0.5;
		}
		p {
			opacity: 0.5;
		}
		img {
			opacity: 0.5;
		}
		.play {
			
			opacity: 1;
		}
	}
	.mini {
		.card-image {
			img {
				height: 200px !important;
			}
			
		}
	}
	.author-pic {
		img {
		width: 100px;
		border-radius: 100%;
		}
		h5 {
			color: #b388ff;
		}
	}
	.author-pic:hover {

		img {
			width: 150px;
			border-radius: 100%;
		}
		h5 {
			color: white;
		}
	}
	
	
}



#browse {
	span {
		font-size: 18px !important;
	}
	h3 {
		color: #b388ff;
	}
	.card-image {
		img {
			height: 200px !important;
		}
		
	}
	#browse-book:hover {
		font-size: 30px;
	}
}
#author {
	img {
		border-color: #b388ff;
		width: 100%;
		border-width: 20px;
		border-radius: 100%;
	}
	span {
		font-size: 18px !important;
	}
	h3 {
		color: #b388ff;
	}
	.card-image {
		img {
			height: 200px !important;
		}
		
	}
	#browse-book:hover {
		font-size: 30px;
	}
}
#greeting {
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
	z-index: 3;
	margin-top: -5%;
	background-color: rgba(250, 250, 250, 0);
	border-style: none;
	h1 {
		color: #b388ff;
		font-size: 90px;
		text-align: center;
	}
	h5 {
		color: white;
		font-size: 20px;
		text-align: center;
	}
	a {
		background-color: #0091ea;
		width: 300px;
	}
}
#slick-pics {
	img {
		width: 90% !important;
		height: auto !important;
		max-height: 100% !important;
		position: auto !important;
		background-color: white;
		border-radius: 100% !important;
		opacity: 0.9;
	}
	img:hover {
		opacity: 1 !important;
		width: 100% !important;
	}
}
#account {
	h5 {
		color: white;
	}
	h6 {
		color: white;
	}
	.options {
		background-color: white;
		color: black;
		width: 200px;
		margin: 5%;
		border-radius: 10%;
	}
	.options:hover {
		color: white;
		background-color: #b388ff;
		
	}
}
#pics-title {
	color: white;
	font-size: 20px;
	text-align: center;
}
#bookpic {
	width:100%;
	border-radius: 100%;
}

.transparent {
	background-color: rgba(0, 0, 0, 0) !important;
}

img:focus {
	outline:0 !important;
}
div:focus {
	outline:0 !important;
}




